BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
ColumnLimit: 100
CommentPragmas: NOLINT:.*
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Right
SortIncludes: true
TabWidth: 4
UseTab: ForContinuationAndIndentation
